.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.body {
  color: #595959;
  font-family: Inter, sans-serif;
}

.h1 {
  color: #000221;
  margin-top: 0;
  font-size: 68px;
  line-height: 78px;
}

.h1.h1-hero {
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.h2 {
  color: #000221;
  margin-top: 60px;
  margin-bottom: 0;
  padding-bottom: 10px;
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
}

.h2.home-portfolio, .h2.home-about, .h2.home-mentor {
  margin-top: 0;
}

.h2.portfolio-context {
  margin-top: 0;
  padding-bottom: 0;
}

.h3 {
  color: #ab2176;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.h3.h3-competencies-list {
  margin-bottom: 5px;
}

.h4 {
  color: #000221;
  text-transform: none;
  font-family: Inter, sans-serif;
  font-size: 30px;
  line-height: 36px;
}

.h4.h4-competencies-list {
  margin-top: 0;
  margin-bottom: 20px;
  display: block;
}

.h4.h4-portfolio {
  margin-top: 20px;
}

.h4.h4-portfolio.after-text {
  margin-top: 40px;
}

.h4.about-testimonials {
  margin-top: 0;
  margin-bottom: 0;
}

.h1-hero_span {
  color: #f50069;
  font-weight: 400;
}

.text-block {
  color: #595959;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 26px;
}

.text-block.text-competencies-list {
  margin-bottom: 0;
  line-height: 32px;
}

.text-block_link {
  color: #ab2176;
  text-decoration: underline;
  transition: all .2s;
}

.text-block_link:hover {
  color: #f50069;
}

.nav-primary_container {
  max-width: 960px;
}

.nav-primary {
  height: 80px;
  background-color: #fff;
  font-family: Inter, sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0 8px 16px rgba(106, 106, 106, .2);
}

.nav-primary_link-container {
  display: flex;
}

.nav-primary-menu-link {
  height: 80px;
  min-width: 100px;
  color: #000221;
  text-align: center;
  order: 0;
  align-self: auto;
  padding: 0;
  line-height: 80px;
  transition: box-shadow .2s ease-in-out;
}

.nav-primary-menu-link:hover {
  box-shadow: inset 0 -4px #f50069;
}

.nav-primary-menu-link.w--current {
  color: #000221;
}

.nav-brand_text {
  color: #000221;
  text-transform: uppercase;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 900;
}

.nav-brand {
  height: 80px;
  align-items: center;
  display: flex;
}

.button-primary {
  color: #fff;
  text-transform: uppercase;
  background-color: #5c1d86;
  margin-top: 40px;
  padding: 10px 20px;
  line-height: 28px;
  transition: all .15s ease-in-out;
}

.button-primary:hover {
  background-color: #e80063;
}

.button-primary._404 {
  margin-left: auto;
  margin-right: auto;
}

.button-primary.password {
  margin-top: 0;
}

.div-card {
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, .23), 0 10px 20px rgba(0, 0, 0, .19);
}

.div-card.portfolio-list {
  max-width: 960px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.div-card.about-competencies {
  max-width: 960px;
  margin: 40px auto 60px;
}

.div-card.about-testimonials {
  max-width: 960px;
  margin: 40px auto;
}

.div-card.portfolio-context {
  max-width: 960px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.div-hero_home {
  height: 70vh;
  min-height: 400px;
  background-color: #000221;
  background-image: url('../images/home-hero_bkgd.jpg');
  background-position: 50% 70%;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
}

.nav-footer_color {
  height: 20px;
  background-image: url('../images/home-hero_bkgd.jpg');
  background-position: 50% 95%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.nav-footer_bottom {
  background-color: #000221;
  padding-top: 40px;
  padding-bottom: 40px;
}

.nav-footer_container {
  max-width: 960px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.text-block_footer {
  color: #fff;
}

.nav-footer_linkblock {
  opacity: .5;
  margin-left: 20px;
  transition: opacity .2s ease-in-out;
}

.nav-footer_linkblock:hover {
  opacity: 1;
}

.text-block-hero_home {
  max-width: 760px;
  color: #fff;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.div-hero-home_container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.button-hero {
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
  padding: 14px 40px;
  font-size: 16px;
  line-height: 28px;
  transition: all .15s ease-in-out;
}

.button-hero:hover {
  color: #5c1d86;
  background-color: #fff;
}

.section-home_about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-home_portfolio {
  background-color: #f2f2f2;
  padding-top: 120px;
  padding-bottom: 120px;
}

.div-content_text {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

.section-home_mentor {
  padding-top: 120px;
  padding-bottom: 120px;
}

.image-home_mentor {
  margin-left: 20px;
}

.div-home_about {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.grid-home_about {
  grid-column-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
  align-items: center;
}

.image {
  box-shadow: 0 6px 6px rgba(0, 0, 0, .23), 0 10px 20px rgba(0, 0, 0, .19);
}

.image.after-text {
  margin-top: 40px;
}

.image.after-text.before-text {
  margin-bottom: 40px;
}

.image.image-about {
  width: 100%;
}

.image.before-text {
  margin-bottom: 20px;
}

.grid-home_portfolio {
  grid-column-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
}

.div-home_portfolio_grid {
  padding: 40px 40px 40px 0;
}

.section-about {
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 60px;
}

.grid-about_competencies {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-about_testimonials {
  grid-column-gap: 20px;
  grid-template-columns: .25fr 1fr;
}

.image-about_testimonials {
  border-radius: 500px;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  max-width: 760px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  padding: 40px;
  display: flex;
}

.section-portfolio {
  background-color: #f2f2f2;
}

.block-quote {
  color: #595959;
  background-color: #fff;
  border-left-color: #f50069;
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 20px;
  line-height: 26px;
}

.block-quote.last {
  margin-bottom: 0;
}

.list {
  color: #595959;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 0;
  font-size: 18px;
  line-height: 26px;
}

.grid-portfolio_context {
  margin-top: 20px;
}

.video {
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, .23), 0 10px 20px rgba(0, 0, 0, .19);
}

.div-content_max {
  max-width: 960px;
  margin-top: -140px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
}

.div-content_max.campus-map {
  margin-top: 0;
}

.div-home_portfolio-image {
  height: 400px;
}

.div-home_portfolio-image.zoo {
  height: 100%;
  min-height: 400px;
  background-color: #f50069;
  background-image: url('../images/portfolio-zoo_thumb.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.div-home_portfolio-image.homepage {
  height: 100%;
  min-height: 400px;
  background-color: #2d2d2d;
  background-image: url('../images/homepage_thumb.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.div-home_portfolio-image.learning-platform {
  height: 100%;
  min-height: 400px;
  background-color: #4cf;
  background-image: url('../images/olp_thumb.jpg');
  background-position: 50%;
  background-size: cover;
}

.div-home_portfolio-image.site-features {
  height: 100%;
  min-height: 400px;
  background-color: #5c1d86;
  background-image: url('../images/feature_thumb.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.div-home_portfolio-image.claims-processing {
  background-image: url('../images/claims-thumb.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.div-portfolio_hero {
  height: 400px;
}

.div-portfolio_hero.zoo {
  background-color: #7a0833;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/portfolio-zoo_hero.jpg');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.div-portfolio_hero.osu-home {
  background-color: #2d2d2d;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/homepage_hero.jpg');
  background-position: 0 0, 50% 60%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.div-portfolio_hero.osu-features {
  background-color: #5c1d86;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/feature_hero.jpg');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.div-portfolio_hero.learning-platform {
  background-color: #4cf;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/olp_hero.jpg');
  background-position: 0 0, 50% 60%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.div-portfolio_hero.claims {
  background-color: #ff602b;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/claims-hero.png');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.grid-portfolio-lightbox {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.grid-portfolio-lightbox._3-column {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-portfolio-lightbox._3-column.after-lightbox {
  margin-top: -20px;
}

.link-portfolio_prototype {
  margin-top: 40px;
}

.div-portfolio-sep {
  height: 60px;
  background-image: url('../images/home-hero_bkgd.jpg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-404 {
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.nav-primary-menu-dropdown {
  height: 80px;
  min-width: 100px;
  transition: box-shadow .2s ease-in-out;
  display: none;
}

.nav-primary-menu-dropdown:hover {
  box-shadow: inset 0 -4px #f50069;
}

.dropdown-toggle {
  height: 80px;
  padding-top: 0;
  padding-bottom: 0;
}

.text-block-2 {
  color: #000221;
  line-height: 80px;
}

.dropdown-list {
  background-color: #fff;
}

.dropdown-list.w--open {
  box-shadow: 0 8px 16px rgba(106, 106, 106, .2);
}

.dropdown-link {
  color: #000221;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background-color .1s ease-in-out;
}

.dropdown-link:hover {
  background-color: rgba(171, 33, 118, .1);
}

.dropdown-link.w--current {
  color: #ab2176;
}

.about-image {
  margin-top: 20px;
  margin-bottom: 20px;
}

.body-password {
  font-family: Inter, sans-serif;
}

.image-405 {
  align-self: center;
}

.field-text {
  color: #595959;
}

.error-message {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 0;
}

.text-block_error {
  color: #f50069;
}

.lightbox-after {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 991px) {
  .nav-brand {
    margin-left: 20px;
  }

  .div-hero_home, .nav-footer_bottom, .section-home_about, .section-home_portfolio, .section-home_mentor, .section-about, .div-content_max, .div-content_max.campus-map {
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-portfolio-sep {
    height: 100px;
  }
}

@media screen and (max-width: 767px) {
  .h1.h1-hero {
    font-size: 58px;
    line-height: 68px;
  }

  .nav-primary_link-container {
    background-color: #f2f2f2;
    font-size: 18px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, .23), 0 10px 20px rgba(0, 0, 0, .19);
  }

  .nav-primary-menu-link {
    max-width: 100%;
    padding-right: 20px;
  }

  .nav-primary-menu-link:hover {
    box-shadow: none;
  }

  .nav-primary-menu-link.w--current {
    display: block;
  }

  .nav-brand {
    margin-left: 10px;
  }

  .menu-button {
    height: 80px;
    padding: 0 20px;
  }

  .menu-button.w--open {
    background-color: #f2f2f2;
  }

  .nav-hamburger {
    color: #000221;
    line-height: 80px;
  }

  .grid-home_about {
    grid-template-columns: 1fr;
  }

  .div-home_about-image {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-home_portfolio {
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
  }

  .div-home_portfolio_grid {
    padding: 20px;
  }

  .grid-about_competencies {
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .div-home_portfolio-image.zoo, .div-home_portfolio-image.homepage, .div-home_portfolio-image.learning-platform, .div-home_portfolio-image.site-features {
    min-height: 300px;
  }

  .div-home_portfolio-image.claims-processing {
    height: 100%;
    min-height: 300px;
  }

  .nav-primary-menu-dropdown:hover {
    box-shadow: none;
  }

  .dropdown-toggle {
    max-width: 100%;
    min-width: 100px;
    justify-content: center;
    display: flex;
  }

  .nav-caret_down {
    padding-right: 20px;
  }

  .dropdown-list {
    width: 100%;
    text-align: center;
    box-shadow: 0 6px 6px rgba(0, 0, 0, .23), 0 10px 20px rgba(0, 0, 0, .19);
  }

  .dropdown-list.w--open {
    width: 100%;
  }

  .dropdown-link {
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 60px;
  }

  .dropdown-link:hover {
    color: #000221;
    background-color: #fff;
  }
}

@media screen and (max-width: 479px) {
  .h1.h1-hero {
    font-size: 48px;
    line-height: 58px;
  }

  .h2, .h2.home-portfolio, .h2.home-about {
    font-size: 32px;
    line-height: 42px;
  }

  .h3 {
    text-align: left;
  }

  .h3.about-testimonials {
    text-align: center;
  }

  .h4.h4-portfolio {
    font-size: 24px;
    line-height: 30px;
  }

  .h4.about-testimonials {
    text-align: center;
  }

  .text-block.text-competencies-list {
    text-align: left;
  }

  .div-card.about-competencies, .div-card.about-testimonials, .div-card.portfolio-context {
    padding: 20px;
  }

  .div-hero_home {
    min-height: 540px;
  }

  .text-block_footer {
    text-align: center;
    flex: 1;
  }

  .nav-footer_icons {
    display: none;
  }

  .section-home_about {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .section-home_portfolio {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section-home_mentor {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .image-home_mentor {
    display: none;
  }

  .section-about {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .grid-about_competencies, .grid-about_testimonials {
    grid-template-columns: 1fr;
  }

  .grid-portfolio_context {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  .div-content_max {
    margin-top: -300px;
  }

  .div-home_portfolio-image.zoo, .div-home_portfolio-image.homepage, .div-home_portfolio-image.learning-platform, .div-home_portfolio-image.site-features, .div-home_portfolio-image.claims-processing {
    height: 100%;
    min-height: 200px;
  }

  .div-portfolio_hero.osu-home {
    background-image: linear-gradient(to bottom, null, null), url('../images/homepage_hero.jpg');
    background-size: auto, auto;
  }

  .grid-portfolio-lightbox, .grid-portfolio-lightbox._3-column, .grid-portfolio-lightbox._3-column.after-lightbox {
    grid-template-columns: 1fr;
  }

  .div-portfolio-sep {
    height: 60px;
  }

  .dropdown-list.w--open {
    text-align: right;
  }
}

#w-node-_88e40054-35ca-4862-6f6c-db72e8765dfd-9f61b491 {
  align-self: auto;
}

#w-node-_6f6fb556-ec72-53a2-e94c-3eeae7f1b012-9f61b491, #w-node-_43cdd7ab-d496-3fdd-da42-69f0c74a56b1-9f61b491, #w-node-_9fb4275a-57ff-4f1e-d3f6-14260bef2281-9f61b491, #w-node-_217fb199-cff7-4140-88f2-851e27d65db0-9f61b491, #w-node-_5fda54a2-3e55-5987-13a5-cbf91d7a2d4d-9f61b491, #w-node-_55c58295-7298-8887-c608-500641e30bca-cbe2cc90 {
  align-self: center;
}

#w-node-a34fbb8e-4952-0fc2-adad-3556674e099e-cbe2cc90 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_454e0ba8-684a-f21c-581e-b992b5656184-cbe2cc90 {
  align-self: center;
}

#w-node-_454e0ba8-684a-f21c-581e-b992b5656189-cbe2cc90 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_8f1854c1-8249-4f1f-f548-75791eb4159d-cbe2cc90 {
  align-self: center;
}

#w-node-_8f1854c1-8249-4f1f-f548-75791eb415a2-cbe2cc90 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-bc00d4c8-2ce6-d323-0229-d9b026377d3f-cbe2cc90 {
  align-self: center;
}

#w-node-bc00d4c8-2ce6-d323-0229-d9b026377d44-cbe2cc90 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_4053de1d-0743-892c-eecb-0fe9d0fc1192-cbe2cc90 {
  align-self: center;
}

#w-node-_4053de1d-0743-892c-eecb-0fe9d0fc1197-cbe2cc90 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_63c79f37-c143-320d-9314-a3d670471ed8-cbe2cc90 {
  align-self: center;
}

#w-node-_63c79f37-c143-320d-9314-a3d670471edd-cbe2cc90 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_26216b70-6424-1ef9-0e4f-7da4d15c2f5f-1b3d2509, #w-node-_26216b70-6424-1ef9-0e4f-7da4d15c2f5f-cde38182, #w-node-_26216b70-6424-1ef9-0e4f-7da4d15c2f5f-d2a2cbde, #w-node-_26216b70-6424-1ef9-0e4f-7da4d15c2f5f-39307674, #w-node-_26216b70-6424-1ef9-0e4f-7da4d15c2f5f-66ef5ab5 {
  grid-area: 1 / 2 / 3 / 3;
}

@media screen and (max-width: 479px) {
  #w-node-_08a79a26-3ca7-54a0-2be0-5cc2fd77a407-cbe2cc90 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: center;
  }

  #w-node-_55c58295-7298-8887-c608-500641e30bca-cbe2cc90 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
  }

  #w-node-_454e0ba8-684a-f21c-581e-b992b5656183-cbe2cc90 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: center;
  }

  #w-node-_454e0ba8-684a-f21c-581e-b992b5656184-cbe2cc90 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
  }

  #w-node-_8f1854c1-8249-4f1f-f548-75791eb4159c-cbe2cc90 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: center;
  }

  #w-node-_8f1854c1-8249-4f1f-f548-75791eb4159d-cbe2cc90 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
  }

  #w-node-bc00d4c8-2ce6-d323-0229-d9b026377d3e-cbe2cc90 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: center;
  }

  #w-node-bc00d4c8-2ce6-d323-0229-d9b026377d3f-cbe2cc90 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
  }

  #w-node-_4053de1d-0743-892c-eecb-0fe9d0fc1191-cbe2cc90 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: center;
  }

  #w-node-_4053de1d-0743-892c-eecb-0fe9d0fc1192-cbe2cc90 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
  }

  #w-node-_63c79f37-c143-320d-9314-a3d670471ed7-cbe2cc90 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: center;
  }

  #w-node-_63c79f37-c143-320d-9314-a3d670471ed8-cbe2cc90 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: center;
  }

  #w-node-_26216b70-6424-1ef9-0e4f-7da4d15c2f5f-1b3d2509, #w-node-_26216b70-6424-1ef9-0e4f-7da4d15c2f5f-cde38182, #w-node-_26216b70-6424-1ef9-0e4f-7da4d15c2f5f-d2a2cbde {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_37c1cf72-44dc-ca3b-1dec-9f725394d1d3-39307674, #w-node-abcefb47-f26e-4b71-a745-916efafc7f9b-39307674, #w-node-_26216b70-6424-1ef9-0e4f-7da4d15c2f5f-39307674 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_26216b70-6424-1ef9-0e4f-7da4d15c2f5f-66ef5ab5 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


