html {
  height: 100vh;
  width: 100vw;
  margin: 0 0 0 0;
  background-size: 400% 100%;
  background-image: linear-gradient(135deg, #ffb600 0%, #f98514 14%, #e6105f 50%, #1579b6 90%, #0fa3bb 100%);
  animation: background_gradient 30s ease infinite;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Inter", sans-serif;
  margin: 0;
  text-align: center;
  color: #ffffff;
  min-width: 375px;
}
#content a {
  color: #fff;
}

h1 {
  font-size: 60px;
  margin: 0;
  font-weight: 700;
}

h2 {
  font-weight: 200;
  margin: 2px 0 20px 0;
  text-transform: uppercase;
}

.icon {
  font-size: 40px;
  margin: 0 10px;
  opacity: 0.6;
}
.icon:hover {
  opacity: 1;
}

@keyframes background_gradient {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}